<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cgy.com.mouone">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.OneActivity" />
        <activity android:name=".activity.WebViewActivity" />
    </application>

</manifest>